# ignore everything in the root except the "wp-content" directory.
!wp-content/

#ignore makeup and backup directories
**/__backup
**/__makeup
**/_source_images

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
#!wp-content/mu-plugins/
#!wp-content/plugins/
!wp-content/themes/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite


